
@media only screen and (max-height: 739px){
    html body header{height: 100vh;}
}
@media only screen and (max-width: 912px) and (min-height: 667px) {
    html body header{height: 55vh;}
}
@media only screen and (max-width: 414px) and (min-height: 895px) {
    html body header {height: 60vh;}
}

/* this is from big tablets to 1200 */
@media only screen and (max-width: 1220px) {

    section .city-feature {
        font-size: 96%;
    }
    section .plan-box ul li {
        font-size: 85%;
    }

}

@media only screen and (max-width: 1070px) {
    section .plan-box ul li {
        font-size: 80%;
    }
    section .plan-price {
        font-size: 295%;
    }
}
/* small tablet to big tablet: from 970 to 1023px */
@media only screen and (max-width: 1023px) {
    body{font-size: 18px; }

    body section {padding: 60px 0; }
    header .logo {
        height: 90px;
    }
    section .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    section .box p,
    section .long-copy {
        line-height: 135%;
    }
    section .work-steps:last-of-type {
        margin-bottom: 3em;
    }
    section .btn-app img {
        height: 45px;
    }
    section .contact-form {
        width: 70%;
    }
    footer {
        padding: 40px;
        font-size: 75%;
    }
}

@media only screen and (max-width: 970px) {

    body{font-size: 16px; }

    body section {padding: 40px 0; }

    header .logo {
        height: 76px;
        margin-top: 19px;
    }
    section .step:last-child {
        margin-top: 6em;
    }
    section .work-steps {
        font-size: 90%;
    }
    section .box img {
        margin-bottom: 0.8em;
    }
    section .city-feature {
        margin: 0 2% 3px 2%;
        font-size: 90%;
    }
    .section-plans h3 {
        font-size: 100%;
        margin-bottom: 12px;
    }
    section .plan-box ul li {
        padding: 3px 0;
        font-size: 69%;
    }

    section .plan-price {
        font-size: 260%;
        margin-bottom: 8px;
    }
    section .plan-price-meal {
        font-size: 70%;
    }
    section .contact-form {
        width: 80%;
    }
    body footer {
        padding: 30px;
        font-size: 100%;
    }

}

/* small phones to small tablets: from 481 to 767px */
@media only screen and (max-width: 768px) {
    header .logo {
        height: 65px;
    }
/* --------------------------------------------------
------------   NAVIGATION MENU   --------------------
--------------------------------------------------- */
    header .main-nav {
        position: relative;
    }
    header .main-nav li:first-child {
        margin-top: 1.3rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    header .main-nav li:first-child a ion-icon[name=close-outline],
    header .main-nav li {
        display: none;
    }
    header .main-nav li:first-child a ion-icon[name=menu-outline],
    header .main-nav li:first-child {
        display: block;
    }
    header .main-nav li:first-child a ion-icon {
        color: #555;
        font-size: 340%;
        --ionicon-stroke-width: 1.5rem;
        transition: color 0.2s ease;
    }
    header .main-nav li:first-child a ion-icon:hover {
        color: #e68836;
    }

    /* ----------------------------------------
    --------- O N  CLICK ACTION ---------------
    ---------------------------------------- */
    header .main-nav.responsive li:first-child a ion-icon[name=menu-outline] {
        display: none;
    }
    header .main-nav.responsive li:first-child a ion-icon,
    header .main-nav.responsive li:first-child a:visited ion-icon[name=close-outline] {
        display: block;
        color: #e68836;
    }
    header .main-nav.responsive li:not(:first-child).list-1 {
        border-radius: 10px 0 0;
        margin-top: 1.1rem;
        padding-top: 2.8rem;
    }
    header .main-nav.responsive li:last-child {
        border-radius: 0 0 10px 10px;
        padding-bottom: 1rem;
    }
    header .main-nav.responsive {
        z-index: 2;
    }
    header .main-nav.responsive li:not(:first-child) {
        padding-bottom: 0.7rem;
        padding-left: 0.3rem;
        display: block;
        text-align: right;
        background-color: #252525d0;
        margin: 0 -0.45rem;
    }
    header .main-nav.responsive li:not(:first-child) a {
        border: 0;
        margin: 0.8rem;
        letter-spacing: 1px;
        font-size: 110%;
        font-weight: 400;
        color: rgb(173, 173, 173);
    }
    header .main-nav.responsive li:not(:first-child) a:hover {
        color: #e68836;
    }


    /* ---------------------------------------------
    ------- sticky navigation fixes --------------
    ------------------------------------------------ */
    header .sticky-nav .main-nav li:first-child {
        margin-top: 0.3rem;
    }
    header .sticky-nav .main-nav.responsive li:not(:first-child) {
        background-color: rgb(252, 250, 249);
        /* border-right: 2px solid #7575758a;
        border-left: 2px solid #7575758a; */
        /* background-color: #e68836; */
    }
    header .sticky-nav .main-nav.responsive li:not(:first-child).list-1 {
        background-image: linear-gradient(rgb(255, 255, 255),rgba(252, 250, 249, 0.918));
        border-radius: 0;
        margin-top: 3.1rem;
        padding-top: 0.8rem;
    }
    header .sticky-nav .main-nav.main-nav.responsive li:first-child::before {
        position: absolute;
        z-index: -5;
        top: 2.8rem;
        right: -0.55rem;
        border-radius: 0 0 10px 10px;
        content: ".";
        height: 7.75rem;
        width: 9.6rem;
        background-image: linear-gradient(#e7e7e78a,#e68836 95%,#808080f5);
    }

    section .box img {border-radius: 2px; }
    .section-cities .col:first-child,
    .section-features .col:first-child {
        margin-left: 2%;
    }

    section .step:last-child {
        margin-top: 5.5em;
    }
    section h2 {
        margin-bottom: 15px;
    }
    section .step:first-child {
        margin-top: 15px;
    }
    section .btn-app img {
        height: 35px;
    }
    .section-cities .col,
    .section-features .col {margin: 2%;}
    section .span-1-of-4{width: 45%;}
    section.section-plans .span-1-of-3 {
        width: 100%;
        margin: 10px 0;
    }
    .section-plans h3 {
        font-size: 200%;
        margin-bottom: 12px;
    }
    section .plan-box ul li {
        font-size: 90%;
    }

    section .plan-price {
        font-size: 360%;
        margin-bottom: 8px;
    }
    section .plan-price-meal {
        font-size: 90%;
    }
    body footer div p {
        font-size: 80%;
    }
}

/* single matter at a time */

@media only screen and (max-width: 540px) {
    body .row {
        max-width: 100%;
    }
    .section-features .col {margin: 3%;}
    section .js--wp-1 .span-1-of-4{width: 100%;}

    .section-testimonials .span-1-of-3{width: 100%;}

    header .main-nav.responsive li:not(:first-child) a {
        letter-spacing: 1px;
        font-size: 90%;
        font-weight: 400;
    }
    header .sticky-nav .main-nav.main-nav.responsive li:first-child::before {
        right: -0.55rem;
        height: 7.35rem;
        width: 8.362rem;
    }

    header h1 {
        font-size: 200%;
        font-weight: 500;
    }
    .section-form .col:first-child {
        margin-left: 5%;
    }
    .section-form .span-1-of-3 {
        width: 90%; 
        margin: 0;
    }
    .section-form .span-2-of-3 {  
        width: 90%;
        margin: 0.5rem 5%;
    }
    body .footer-nav li {
        margin-right: 10px;
    }
    body footer {
        padding: 20px;
        font-weight: 300;

    }
    body footer div p {
        font-size: 70%;
    }
}
/* small phones: from zero to 480px */
@media only screen and (max-width: 480px) {
    body .row {
        max-width: 100%;
        margin: 0 2%;
    }
    header .logo {
        margin-left: 12px;
        height: 55px;
        margin-top: 19px;
    }
    header .main-nav.responsive li:not(:first-child) a {
        margin: 0.5rem;
        letter-spacing: 1px;
        font-size: 90%;
        font-weight: 400;
        color: rgb(173, 173, 173);
    }
    header .main-nav.responsive li:not(:first-child){
        padding-bottom: 0.4rem;
        margin-right: 0.1rem;
    }
    header .sticky-nav .main-nav.main-nav.responsive li:first-child::before {
        right: -0.01rem;
        height: 6.16rem;
        width: 7.8rem;
    }
    header h1 {
        margin-bottom: 15px;
        word-spacing: 2px;
    }
    body section {
        padding: 30px 0;
    }
    section .section-features .long-copy {
        margin-bottom: 10px;
    }
    section .long-copy {
        line-height: 125%;
        width: 95%;
        margin-left: 3%;
    }
    body section h2 {
        font-weight: 300;
        margin-bottom: 16px;
    }
    section h2:after {
        margin: 15px auto 0 auto;
    }
    .section-features .long-copy {
        margin-bottom: 20px;
    }
    section h3 {
        margin-bottom: 10px;
    }
    section .app-screen {
        height: 19em;
    }
    .step:first-child {
        margin-top: 20px;
    }
    section .span-1-of-2 {
        width: 46%;
    }
    section .btn-app img {
        height: 27px;
        margin-right: 4px;
        margin-left: 4px;
    }
    section .work-steps div {margin-right: 10px;}
    section .step:first-child {
        margin-top: 12px;
    }
    section .step:last-child {
        margin-top: 2.2em;
        width: 54%;
    }
    body section .step:last-child:last-of-type {
        margin-top: 0;
    }
    section blockquote {
        line-height: 130%;
        margin-top: 30px;
        padding-left: 1.5rem;
    }
    section blockquote::before { font-size: 450%; left: 0.5rem;}
    section cite {    margin-top: 15px;   }
    section .plan-box div {
        padding: 5px;
    }
    .section-plans h3 {
        font-size: 100%;
        margin-bottom: 12px;
    }
    section .plan-box ul li {
        font-size: 90%;
    }
    section .plan-price {
        font-size: 300%;
        margin-bottom: 6px;
    }
    section .plan-price-meal {
        font-size: 90%;
    }
    body .btn:link,
    body .btn:visited,
    body input[type=submit] {
        display: inline-block;
        padding: 6px 12px;
    }
    section .contact-form {
        width: 85%;
    }
    .section-form .span-1-of-3 {
        width: 80%; 
        margin: 0 10%;
    }
    .section-form .span-2-of-3 {  
        width: 90%;
        margin: 0.5rem 5%;
    }
    .section-form h2 {
        margin-bottom: 25px;
    }
    body footer div .col.span-1-of-2:first-child {
        width: 60%;
    }
    body footer div .col.span-1-of-2:last-child {
        width: 40%;
    }
    body .footer-nav li,
    body .social-links li {
        margin: 5px 10px 0 0;
    }
    body .social-links {
    margin-top: 0px;
    font-size: 85%;
    }
}

/* small phones: from zero to 414px */
