/*----------------------------------------
    Basic setups 
    -------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}
html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'Arial', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row {
    max-width: 100%;
    margin: 0 5%;
}


.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*-----------------------------------------
    overall header  
    -------------------------------------*/

header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.897),rgba(0, 0, 0, 0.599)), url(images/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ---------------------------------------
    logo and the links
    ------------------------------------ */
.logo-div {
    position: relative;
    float: left;
    width: 10%;
    height: 10%;
}
.logo-black {
    display: none;
    height: 50px;
    width: auto;
    /* float: left; */
    margin-top: 5px;
    margin-bottom: 3px;
}
.logo{
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.nav-div {
    float: right;
    width: 75%;
    height: 10%;
}

.main-nav {
    float: right;
    list-style: none;
    text-decoration: none;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
    margin-top: 9%;
}


.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s,ease-in-out 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}
.main-nav li:first-child,
.main-nav li:first-child a ion-icon,
.sticky-nav .logo {
    display: none;
}
/*----------------------------------------
 sticky nav
 ---------------------------------------*/
.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.1rem;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px rgb(237, 237, 237);
    z-index: 9999;
}
.sticky-nav .main-nav li {
    margin-top: 4%;
}
.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited {
    padding: 8px 0;
    color: #555;
}
.sticky-nav .logo-black { display: block;}

/*----------------------------------------
 heading and buttns  
 ---------------------------------------*/
.hero-text-box {
    z-index: 0;
    position: absolute;
    width: 80%;
    top: 55%;
    left: 45%;
    transform: translate(-50%,-50%);
}

/* heading  */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(177, 160, 160);
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 0.1rem;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 30px auto 0 auto;
}

/* ---------PARAGRAPHS---------- */
.long-copy {
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.box p {
    font-size: 90%;
}
.long-copy,
.box p { line-height: 145%; }
.section-features .long-copy {
    margin-bottom: 1rem;
}

/* ------ ICONS ------ */
.section-features ion-icon {
    display: block;
    color: #e67e22;
    font-size: 350%;
    --ionicon-stroke-width: 20px;
    margin-bottom: 10px;
}

/*-----------------------------------------
    buttons 
    link and visited........ 
    -------------------------------------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    border: 1px solid #e67e22;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #cf6d17;
    background-color: #cf6d17;
}
.btn-full:link,
.btn-full:visited,
input[type=submit] {
    margin: 0 1% 1% 0;
    background-color: #e67e22;
}
.btn-full:hover,
.btn-full:active {
    background-color: #cf6d17;
}
.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
}
.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
}

/*----------------------------------------
    MEALS
 ---------------------------------------*/

.meals {
    padding: 0;
    background-image: linear-gradient(to bottom ,rgba(255, 255, 255, 1),rgba(243, 242, 242,1));
}
.meals-showcase {
    list-style: none;
    width: 100%;
}
.meals-showcase li {
    display: block;
    float: left;
    width: 24.6%;
    margin: 0.2%;
}
.meal-photo {
    position: relative;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    border-radius: 15px;
}
.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1,1.09);
    transition: transform 0.5s, opacity 0.5s; 
}
.meal-photo:hover img {
    opacity: 1;
    transform: scale(1.15);
    filter: blur(4px);
}
/* TEXT ON MEAL PHOTO */
.meal-photo span {
    position: absolute;
    color: rgb(234, 234, 234);
    z-index: 1;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.4s;
    transform: translate(-50%,-50%);
}
.meal-photo > span:first-child {
    top: 35%;
    left: -30%;
    transition: left 0.3s ease-in-out;
}
.meal-photo > span {
    top: 60%;
    left: -20%;
    transition: left 0.4s ease-in-out;
}
.meal-photo:hover > span:first-child {
    top: 35%;
    left: 52%;
    transform: translate(-50%,-50%);
}
.meal-photo:hover > span {
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.9;
}

/* ------------------------------------
    SECTION THIRD HOW IT WORKS
    -----------------------------------*/
.section-steps {
    background-color: rgb(243, 242, 242);
}
.section-steps::before,
.section-steps::after {
    display: block;
    height: 2px;
    background-color: #555;
    width: 80%;
    content: " ";
    opacity: 0.7;
    border-radius: 10px;
}
.section-steps::after {
    margin: 2% auto 0 auto;
}
.section-steps::before {
    margin: 0 auto 2% auto;
}
.app-screen {
    height: 25em;
}
.work-steps {
    margin-bottom: 10%;
}
.work-steps div {
    color: #e67e22;
    border: 0.1em solid #e67e22;
    /* display: inline-block; */
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 140%;
    margin-right: 5%;
}
.step:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}
.step:last-child {
    padding-left: 3%;
    margin-top: 5em;
}
.work-steps:last-of-type {
    margin-bottom: 4em;
}
.btn-app:link,
.btn-app:visited {
    border: 0;
}
.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-left: 4px;
}
/* -------------------------------------
    SECTION FOURTH CITIES
    ---------------------------------- */
.icons,    
.city-feature ion-icon {
    display: inline-block;
    color: #e67e22;
    font-size: 90%;
    margin-right: 5px;
    /* secrets of text and icon align*/
    margin-top: -4px;
    vertical-align: middle;
}
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
.city {
    background-color: rgb(241, 241, 241);
}
.city-feature {
    margin: 0 2% 5px 2%;
}
.city-feature:last-of-type ion-icon {
    margin-top: 1px;
}
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
/* -------------------------------------
    TESTIMONIALS
    ---------------------------------- */
.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/back-customers.jpg);
    background-size: cover;
    color: rgb(153, 153, 153);
    background-attachment: fixed;
}
blockquote {
    position: relative;
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 40px;
}
cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}
blockquote::before {
    color: rgb(172, 171, 171);
    content: "\201c";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
}
cite img {
    height: 45px;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 1em;
}
/* -------------------------------------
    SECTION PLANS
    ---------------------------------- */
.section-plans {
    background-color: rgb(243, 242, 242);
}
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 20px 20px 20px rgb(216, 216, 216);
}
.plan-box div {
    padding: 15px;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.plan-box div:first-child {
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child {
    text-align: center;
    border: none;
}
.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}
.plan-price-meal {
    font-size: 80%;
}
.plan-box ul {
    list-style: none;
}
.plan-box ul li {
    padding: 5px 0;
}
/* -------------------------------------
    SECTION FROMS
    ---------------------------------- */
.contact-form {
    width: 60%;
    margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}
input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
input[type=text] {
    text-transform: capitalize;
}
input[type=email] {
    font-size: 20px;
}
textarea {
    font-size: 18px;
    font-style: italic;
}
input[type=text],
input[type=email],
select,
textarea {
    font-weight: 100;
    color: #555;
}
/* -- -----------------------------
    F O O T E R
---------------------------- -- */
footer {
    display: relative;
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}
.footer-nav {
    list-style: none;
    float: left;
}
.social-links {
    list-style: none;
    float: right;
    margin-top: -4px;
}
.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}
.social-links li:last-child,
.footer-nav li:last-child {
    margin: 0;
}
.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
}
.footer-nav a:hover,
.footer-nav a:active {
    color: #ccc;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}
ion-icon[name=logo-facebook],
ion-icon[name=logo-twitter],
ion-icon[name=logo-google],
ion-icon[name=logo-instagram] {
    transition: color 0.4s;
}
ion-icon[name=logo-facebook]:hover {
    color: #3b5998;
}
ion-icon[name=logo-twitter]:hover {
    color: #00aced;
}
ion-icon[name=logo-google]:hover {
    color: #dd4b39;
}
ion-icon[name=logo-instagram]:hover {
    border-radius: 7px;
    color: #ccc;
    background-image: conic-gradient(rgba(79,91,213,0.7), rgba(150,47,191,0.7) 65deg, rgba(214,41,118,0.7) 95deg, rgba(250,126,30,0.7), rgba(254,218,117,0.7), rgba(250,126,30,0.7), rgba(79,91,213,0.7) 275deg);
}
footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
/* -- -----------------------------
     ANIMATION
---------------------------- -- */
.js--wp-1 {
    opacity: 0;
    animation-duration: 2s;
}
.js--wp-3,
.js--wp-2 {
    opacity: 0;
    animation-duration: 1s;
}
.js--wp-1.animate__animated,
.js--wp-2.animate__animated,
.js--wp-3.animate__animated {
    opacity: 1;
}


/* __________________________________
        FADE CSS PROPERTY
   __________________________________
   .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
   ___________________________________*/

   /* SWIPER FRAMEWORK FOR SLIDER ANIMATION */
